.contact {
    background-color: black;
    color: white;
    padding: 15rem;
    height: 90vh;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    flex-wrap: wrap;
}

/* SOCIAL MEDIA */
.social-media-section h2,
.booking-section h2 {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 1.5rem;
    color: white;
    text-align: center;
}

.booking-section a {
    padding: 10px 20px;
}

.social-content {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon {
    font-size: 3.2rem;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
    color: rgb(155, 155, 155);
}

/* Estilos espec�ficos para cada icono */
.social-icons a[title*="Spotify"]:hover .icon {
    color: #1DB954;
}

.social-icons a[title*="Youtube"]:hover .icon {
    color: #FF0000;
}

.social-icons a[title*="Soundcloud"]:hover .icon {
    color: #FF5500;
}

.social-icons a[title*="Instagram"]:hover .icon {
    color: #E4405F;
}

.social-icons a[title*="Linktree"]:hover .icon {
    color: #00C851;
}

/* BOOKING SECTION */
.booking-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.email-icon {
    font-size: 3.2rem;
}

.email-text {
    font-size: 1.2rem;
    font-weight: 300;
}

.email-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: white;
    transition: opacity 0.3s ease;
}

.email-link:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {

    .youtube-embed,
    .soundcloud-embed {
        flex: 1 1 100%;
    }

    .contact {
        padding: 10px;
        height: none;
    }

    .social-media-section h2,
    .booking-section h2 {
        font-size: 28px;
    }
}



/* Ajustar el �ltimo icono para que est� centrado en la segunda fila */
.social-icons a:nth-child(5) {
    grid-column: 2;
}


/* Responsive design para m�viles */
@media (max-width: 768px) {
    .social-icons {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .social-icons a:nth-child(5) {
        grid-column: 1;
    }
}


/* Responsive design para m�viles - versi�n actualizada */
@media (max-width: 768px) {
    .social-icons {
        gap: 1rem;
    }

    .social-icons .icon {
        font-size: 2rem;
    }
}
