a:link,
a:visited,
a:active {
    text-decoration: none;
}

.github,
.linkedin {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding: 2px;
    border-radius: 30%;
    transition: 0.7s;
}

.design-by {
    font-size: 12px;
    text-align: center;
    padding: 5px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}

.sns-links-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px 0 5px 0;
    background-color: #ffffff;
}

.sns-links-footer>a {
    padding: 0 5px 0 5px;
}

.fas:hover,
.fab:hover,
.far:hover,
.fas:hover,
.fa-brands:hover,
.fa-linkedin:hover {
    color:rgb(155, 155, 155);
}

@media only screen and (max-width: 960px) {
    
    .design-by {
        padding: 10px 0 0px 0;
        text-align: center;
    }

    .sns-links-footer {
        padding: 20 60px 0 60px;

    }
}