.media-library {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4%;
    padding: 15rem 0 15rem 0;
    flex-wrap: wrap;
    background-color: #000;
    color: white;
}

.youtube-embed-mobile {
    display: none;
}

.soundcloud-embed-mobile {
    display: none;
}

.spotify-embed-mobile {
    display: none;
}

.youtube-embed,
.soundcloud-embed,
.spotify-embed {
    flex: 1 1 48%;
    /* Ocupan aproximadamente la mitad cada uno */
}

.embed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
}

.platform-icon {
    font-size: 3rem;
}

.youtube-icon {
    color: #FF0000;
}

.soundcloud-icon {
    color: #FF5500;
}

.spotify-icon {
    color: #1DB954;
}

.embed-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.embed-title h2 {
    font-size: 35px;
    margin: 0;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {

    .media-library {
        flex-direction: column;
        gap: 60px;
        padding: 12rem 0rem 12rem 0rem;
        align-items: center;
    }

    .embed-container {
        margin-bottom: 2rem;
    }

    .youtube-embed-mobile,
    .soundcloud-embed-mobile,
    .spotify-embed-mobile {
        display: block;
    }

    .youtube-embed,
    .soundcloud-embed,
    .spotify-embed {
        display: none;
    }

    .embed-title h2 {
        font-size: 30px;
   }
}
