.media-library {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2%;
    padding: 15rem;
    flex-wrap: wrap;
    background-color: #000;
    color: white;
}

.youtube-embed-mobile {
    display: none;
}

.soundcloud-embed-mobile {
    display: none;
}

.youtube-embed,
.soundcloud-embed {
    flex: 1 1 48%;
    /* Ocupan aproximadamente la mitad cada uno */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {

    .media-library {
        flex-direction: column;
        gap: 40px;
        padding: 12rem 0rem 12rem 0rem;
        align-items: center;
    }


    .youtube-embed-mobile,
    .soundcloud-embed-mobile {
        display: block;
    }

    .youtube-embed,
    .soundcloud-embed {
        display: none;
    }
}



